@using VisitEmAll.Models

@{
    ViewData["Title"] = "Dashboard";
    var upcomingHolidays = ViewData["UpcomingHolidays"] as List<Holiday> ?? new List<Holiday>();
    var pastHolidays = ViewData["PastHolidays"] as List<Holiday> ?? new List<Holiday>();
    var currentUser = ViewData["CurrentUser"] as User;    
}

<div class="upcoming-holidays-container">

<h1>@currentUser.Name's homepage</h1>
<h2>@currentUser.HomeTown</h2>



<a href="/holidays/create">Add Holiday</a>

<h2>Upcoming Holidays</h2>



@if (!upcomingHolidays.Any())
{
    <p>No upcoming holidays.</p>
}

else
{
  <div class="row">
        @foreach (var holiday in upcomingHolidays)
        {
  <div class="col-sm">
            <a href="/holidays/@holiday.Id">
                <div class="upcoming-holidays-card" style="width: 18rem;">
                    <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap" src="@(string.IsNullOrEmpty(holiday.ThumbnailUrl) ? "/images/default-thumbnail.jpg" : holiday.ThumbnailUrl)"
                         alt="@holiday.Title" />
                    <h5 class="upcoming-holidays-name">@holiday.Title</h5>
                    <p class="upcoming-holidays-content">@holiday.StartDate?.Year</p>
                </div>
                </div>
            </a>
            </div>
        }
    </div>  
       
}





<h2>Past Holidays</h2>

@if (!pastHolidays.Any())
{
    <p>No past holidays.</p>
}
else
{
    <div class="grid">
        @foreach (var holiday in pastHolidays)
        {
            <a href="/holidays/@holiday.Id">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap" src="@(string.IsNullOrEmpty(holiday.ThumbnailUrl) ? "/images/default-thumbnail.jpg" : holiday.ThumbnailUrl)"
                         alt="@holiday.Title" />
                    <h5 class="card-title">@holiday.Title</h5>
                    <p class="card-text">@holiday.StartDate?.Year</p>
                </div>
                </div>
            </a>
        }
    </div>
        }
    </div>
</div>